.home {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__section-1 {
    align-items: flex-end;
    background-image: url('../assets/homepage/desktop/image-homepage-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 37.5rem;
    margin-top: 3.4rem;
    width: 77%;
  }

  &__container-1 {
    background-color: $secondary-color-1;
    display: flex;
    flex-direction: column;
    height: 357px;
    justify-content: space-between;
    width: 445px;

    &:nth-child(2) {
      background-color: $secondary-color-1;
    }
  }

  &__h1 {
    @include title-1;
    color: $primary-color-3;
    margin-top: 3.5rem;
  }
}
@include tablet {
  .home {
    &__section-1 {
      background-image: url('../assets/homepage/tablet/image-homepage-hero.jpg');
      width: 90%;
    }

    &__container-1 {
      height: 278px;
      width: 514px;
    }

    &__h1 {
      @include title-2;
    }
  }
}
@include mobile {
  .home {
    &__section-1 {
      background-image: url('../assets/homepage/mobile/image-homepage-hero.jpg');
      background-position: top;
      background-size: contain;
      margin-top: 2.5rem;
      width: 83%;
    }

    &__container-1 {
      background-color: transparent;
      margin-bottom: 5rem;
    }

    &__h1 {
      margin-bottom: 2rem;
    }
  }
}
