* {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Ibarra Real Nova", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: hidden;
}

body {
  background-image: url("../../templates/home/Desktop_Home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.navigation__open {
  display: none;
}
.navigation__close {
  display: none;
}
.navigation__ul {
  display: flex;
}
.navigation__link {
  color: #33323e;
  font-size: 12px;
  letter-spacing: 2px;
  margin-left: 1rem;
  text-transform: uppercase;
}
.navigation__link:hover {
  color: #5fb4a2;
}

@media screen and (max-width: 480px) {
  .navigation {
    margin-top: 0.25rem;
  }
  .navigation__ul {
    display: none;
  }
  .navigation__open {
    display: block;
  }
}
.button {
  display: block;
  width: max-content;
}
.button__icon {
  background-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  padding-left: 0.95rem;
  padding-right: 1rem;
  padding-top: 1.1rem;
}
.button__container-1 {
  align-items: center;
  background-color: #20394c;
  display: flex;
}
.button__container-1:hover {
  background-color: #5fb4a2;
}
.button__p {
  color: #ffff;
  font-size: 12px;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  text-transform: uppercase;
}

.button-2 {
  border: solid #33323e 1px;
  color: #33323e;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
  padding-top: 0.9rem;
  text-transform: uppercase;
  width: max-content;
}
.button-2:hover {
  background-color: #33323e;
  color: #ffff;
}

.header {
  display: flex;
  justify-content: center;
}
.header__container-1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  width: 77%;
}

@media screen and (max-width: 768px) {
  .header__container-1 {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .header__container-1 {
    margin-top: 2rem;
    width: 83%;
  }
}
.home {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home__section-1 {
  align-items: flex-end;
  background-image: url("../assets/homepage/desktop/image-homepage-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 37.5rem;
  margin-top: 3.4rem;
  width: 77%;
}
.home__container-1 {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 357px;
  justify-content: space-between;
  width: 445px;
}
.home__container-1:nth-child(2) {
  background-color: #fafafa;
}
.home__h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -0.45px;
  line-height: 50px;
  color: #33323e;
  margin-top: 3.5rem;
}
.home__section-2 {
  margin-top: 9.3rem;
  width: 77%;
}
.home__figure {
  display: flex;
  justify-content: space-between;
}
.home__img {
  object-fit: cover;
  width: 49%;
}
.home__figcaption {
  border-bottom: 1px solid #33323e;
  border-top: 1px solid #33323e;
  padding-bottom: 3rem;
  padding-top: 3rem;
  width: 40%;
}
.home__h2 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.36px;
  line-height: 42px;
  margin-bottom: 2rem;
}
.home__description {
  font-size: 16px;
  line-height: 30px;
  color: #33323e;
  margin-bottom: 1.5rem;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .home__section-1 {
    background-image: url("../assets/homepage/tablet/image-homepage-hero.jpg");
    width: 90%;
  }
  .home__container-1 {
    height: 278px;
    width: 514px;
  }
  .home__h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.36px;
    line-height: 42px;
  }
  .home__section-2 {
    margin-top: 5.5rem;
    width: 90%;
  }
  .home__img {
    width: 41%;
  }
  .home__figcaption {
    width: 49%;
  }
  .home__description {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .home__section-1 {
    background-image: url("../assets/homepage/mobile/image-homepage-hero.jpg");
    background-position: top;
    background-size: contain;
    margin-top: 2.5rem;
    width: 83%;
  }
  .home__container-1 {
    background-color: transparent;
    margin-bottom: 5rem;
  }
  .home__h1 {
    margin-bottom: 2rem;
  }
  .home__section-2 {
    margin-top: 2.5rem;
    width: 83%;
  }
  .home__figure {
    flex-direction: column;
  }
  .home__img {
    margin-bottom: 4rem;
    width: 100%;
  }
  .home__figcaption {
    padding-top: 2rem;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
