.social {
  &__icon-path {
    fill: #ffff;
  }

  &__ul {
    display: flex;
  }

  &__list {
    margin-left: 1rem;

    &:hover {
      .social {
        &__icon-path {
          fill: $primary-color-1;
        }
      }
    }
  }
}
